[submodule "dwm"]
	path = dwm
	url = git@github.com:YeMinghui/dwm.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:YeMinghui/scripts.git
[submodule "xmonad"]
	path = xmonad
	url = git@github.com:YeMinghui/xmonad.git
